{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p>{{ product.price }}</p>
            <p>
                <form method='POST' action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name='quantity' type='number' min='1' max='999' class='form-control' placeholder='quantity'>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphico-edit" aria-hidden="true"></span>Ammend
                        </button>
                    </div>
                </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p>Total</p>
    <p><span class="glyphico-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="/" class="btn btn-success" role="button"><span class="glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{% endblock %}